/* About.css */

.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #FFFFFF;
  text-align: center;
}

.title {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #2D789E;
}

.highlight {
  color: #79B4D1;
  font-style: italic;
}

.mission {
  text-align: center;
  margin-bottom: 40px;
}

.mission h2 {
  font-size: 1.75em;
  margin-bottom: 10px;
  color: #2D789E;
}

.mission p {
  font-size: 1.2em;
  color: #52A7D2;
}

.link {
  color: #007BFF;
  text-decoration: underline;
}

.letter-grades {
  text-align: center;
  margin-bottom: 40px;
}

.letter-grades h2 {
  font-size: 1.75em;
  margin-bottom: 10px;
  color: #2D789E;
}

.letter-grades p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #52A7D2;
}

.grades {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  gap: 20px;
}

.grade {
  font-size: 1.5em;
  font-weight: bold;
  color: #1E1E1E;
}

.grade-scale {
  position: relative;
  height: 20px;
  background: linear-gradient(to right, #4CAF50, #CDDC39, #FFEB3B, #FFC107, #FF5722);
  border-radius: 10px;
  margin-top: 20px;
  width: 100%;
}

.grade-factors {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.grade-factors li {
  list-style-type: none;
  font-size: 1.2em;
  font-weight: bold;
  color: #1E1E1E;
  background-color: #E0EAF2;
  padding: 10px;
  border-radius: 50%;
  width: 80px;
  text-align: center;
}

.footer {
  margin-top: 40px;
  padding: 20px;
  background-color: #f0f0f0;
}

.footer .title {
  font-size: 1.75em;
  color: #2D789E;
}
