/* Carousel.css */

.card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 500px; /* Limits the card height */
    overflow-y: auto; /* Allows scrolling if content exceeds */
}

.article-content h3 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
}

.article-content p {
    font-size: 1em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 10px;
}

.slick-slide {
    padding: 15px;
}

.slick-center {
    transform: scale(1.05);
}

.custom-arrow {
    z-index: 2;
    font-size: 2rem;
    color: #333;
}
