.chart-container {
    position: relative;
    width: 200%;
    max-width: 1500px; /* Reduced max-width to provide more room */
    height: 500px; /* Adjusted height as needed */
    margin: 0 0 0 20px; /* Added some margin to the left */
    padding: 20px;
    border: 1px solid #2D79BE;
    border-radius: 20px;
    background-color: #F9F9F9;
    align-items: center;
}

.grade-scale {
    position: relative;
    margin-left: 0;
    height: 80px;
    background: linear-gradient(to right, #4CAF50, #CDDC39, #FFEB3B, #FFC107, #FF5722);
    border-radius: 20px;
    margin-top: 40px;
    width: 100%; /* Adjusted to fit within the container */
    display: flex;
  
    overflow: hidden; /* Ensures content stays within bounds */
}


.grade-label.on-scale {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #333;
    font-size: 1rem;
}

.platform-icon {
    position: absolute;
    top: -60px;
    transform: translateX(-50%);
    cursor: pointer;
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
    border: 2px solid transparent;
}

.platform-icon:hover {
    transform: translateX(-50%) scale(1.1);
    border: 2px solid #2D79BE;
}

.platform-icons {
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.bottom-icon {
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.bottom-icon:hover {
    transform: scale(1.1);
    border: 2px solid #2D79BE;
}

.description {
    text-align: center;
    margin-top: 30px;
    color: #2D79BE;
    font-size: 1.2rem;
    line-height: 1.5;
}

.custom-tooltip {
    position: absolute;
    top: -120px;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
    color: #333;
    text-align: center;
    width: 200px;
    z-index: 10;
    border: 1px solid #2D79BE;
}

.tooltip-arrow {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #FFFFFF;
}

.tooltip-content {
    padding: 5px;
}

.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full viewport height for vertical centering */
}

.chart-container {
    position: relative;
    width: 200%;
    max-width: 1500px;
    height: 500px;
    padding: 20px;
    border: 1px solid #2D79BE;
    border-radius: 20px;
    background-color: #F9F9F9;
}
