/* Home.css */
.home-container {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.company-name {
    margin-top: 20px; /* Adjust spacing from top if needed */
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.chart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;              /* Allow it to take up available space */
    width: 80%;          /* Limit the width of the chart wrapper */
    max-width: 600px;    /* Prevent it from expanding too wide */
    margin-top: 20px;    /* Space between company name and chart */
}

.chart {
    width: 200%;  /* Make the chart fill its container */
    height: 800px; /* Set a fixed height for the chart */
    position: relative; /* Ensure positioning is managed correctly */
}
