.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: ##FFFFFF;
    padding: 1rem;
    border-bottom: 1px solid #2D789E;
}

.navbar-company-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2D789E;
    text-align: left;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 1.5rem;
    margin: 0; /* Add this to reset any default margin */
    padding: 0; /* Add this to reset any default padding */
}

nav ul li a {
    text-decoration: none;
    color: #2D789E;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #1a5d7e;
}


.logo {
    width: 90px; /* Adjust width as needed */
    height: auto; /* Keeps the aspect ratio */
}
